<form action="/offres/add" method="post">
    <label for="nom">Nom :</label>
    <input type="text" name="nom">
    <br />
    <label for="remise">Remise :</label>
    <input type="range" min="0" max="99" step="1" name="remise" oninput="this.nextElementSibling.value = this.value">
    <output>50</output><br />

    <button type="submit">ajouter</button>
</form>