<%- include('../../partials/head');%>
<h1>ETES-VOUS SUR DE VOULOIR SUPPRIMER CETTE OFFRE ?</h1>
<button id="delete" type="submit" style="background-color: red;padding: 5px;">valider</button>

<script>
    function findGetParameter(parameterName) {
        let result = null,
            tmp = [];
        location.search
            .substr(1)
            .split("&")
            .forEach(function (item) {
                tmp = item.split("=");
                if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            });
        return result;
    }

    document.getElementById("delete").onclick = function() {
        let url = "/offres/delete/" + findGetParameter("id")
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.status === 200 && xhr.readyState === 4) {
                document.location.href = "/offres";
            }
        }
        xhr.open("DELETE", url, false);
        xhr.send();
    }
</script>