<%- include('../../partials/head');%>
<a href="/"><button>retour</button></a>
<button id="add">add</button>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">nom</th>
        <th scope="col">remise</th>
        <th scope="col">code</th>
        <th scope="col">action</th>
    </tr>
    </thead>
    <tbody>
    <%offres.forEach(offre => { %>
    <tr>
        <th scope="row"><%=offre.id%></th>
        <td><%= offre.nom%></td>
        <td><%= offre.remise%></td>
        <td><%= offre.code%></td>
        <td><button>edit</button><a href="/offres/delete?id=<%=offre.id%>"><button id="delete">delete</button></a></td>
    </tr>
    <%})%>
    </tbody>
</table>

<script>
    document.getElementById("add").onclick = function() {
        document.location.href="/offres/create";
    }
</script>
