<form action="/produits/add" method="post">
    <label for="nom">Nom :</label>
    <input type="text" name="nom">
    <br />
    <label for="prix">Prix :</label>
    <input name="prix" type="number" step="0.01">

    <button type="submit">ajouter</button>
</form>