<%- include('../../partials/head');%>
<a href="/"><button>retour</button></a>
<button id="add">add</button>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">nom</th>
        <th scope="col">prix</th>
        <th scope="col">action</th>
    </tr>
    </thead>
    <tbody>
    <%products.forEach(product => { %>
        <tr>
            <th scope="row"><%=product.id%></th>
            <td><%= product.nom%></td>
            <td><%= product.prix%></td>
            <td><button>edit</button><a href="/produits/delete?id=<%=product.id%>"><button>delete</button></a></td>
        </tr>
    <%})%>
    </tbody>
</table>
<script>
    document.getElementById("add").onclick = function() {
        document.location.href="/produits/create";
    }
</script>
