<%- include('../partials/head');%>
<button name="disconnect" id="disconnect">disconnect</button>
<script>
    document.getElementById("disconnect").onclick = function() {
        let token = document.cookie.match(new RegExp('(^| )' + "accessToken" + '=([^;]+)'))[2];
        console.log(token);
        document.cookie="accessToken=" + token + ";expires=Thu, 18 Dec 2013 12:00:00 UTC";
        document.location.href="/login"
    }
</script>