<%- include('../partials/head');%>
<body>
<a href="/offres"><button>offres</button></a>
<a href="/produits"><button>produits</button></a>
<button id="disconnect">déconnecter</button>
</body>
<script>
    document.getElementById("disconnect").onclick = function() {
        document.cookie = "accessToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.location.href="/login";
    }
</script>