<%- include('../partials/head');%>
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    .form {
        border: 3px solid #f1f1f1;
        margin: 20px;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        opacity: 0.8;
    }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
        margin-bottom: 24px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }

    .error {
        text-align: center;
        width: auto;
    }

    .error > span {
        padding: 10px 18px;
        background-color: #f44336;
        color: white;
    }
</style>
<body>

<h2>Login Form</h2>

<div class="form">
    <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>
        <% switch (error) {
        case 1 : %>
        <div class="error">
            <span><%= message%></span>
        </div>
        <% break;
        case 2 : %>
        <div class="success">
            <span><%= message%></span>
        </div>
        <% break;
        case 3 : %>
        <div style="display:none;">
            <span><%= message%></span>
        </div>
        <% break;}%>
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button id="login">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</div>
</body>

<script>
    document.getElementById("login").onclick = function() {
        let username = document.getElementsByName("username")[0].value;
        let password = document.getElementsByName("password")[0].value;
        let xhr = new XMLHttpRequest();
        //xhr.open("POST", window.location.hostname + "/auth/login");
        xhr.open("POST", "http://localhost:3000/auth/login");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                document.cookie = "accessToken=" + JSON.parse(xhr.response).accessToken;
                document.location.href="/"
            }
        }
        xhr.send(JSON.stringify({username: username, password: password}));
    }
</script>